{% extends 'Base_Template.html' %}
{% block heating_cooling %}
    class='active'
{% endblock %}

{% block title %}
    Heating/Cooling
{% endblock %}
{% block body %}
    <div class="HC_style">
        <table class="HC_table_sytle">
            <tr>
                <td>
                    <div class="HC_td_left">Heating/Cooling</div>
                    <div>
                        <canvas id="line-chart" width="850" height="500"></canvas>
                    </div>
                    <script>
                        var line_chart = new Chart(document.getElementById("line-chart").getContext('2d'), {
                            type: 'line',
                            data: {
                                labels: [{% for item in times %}
                                    "{{ item }}",
                                {% endfor %}],
                                datasets: [{
                                    data: [{% for item in values %}
                                        "{{ item }}",
                                    {% endfor %}],
                                    borderWidth: 1,
                                    label: "Temperature",
                                    backgroundColor: "#E44B00",
                                    borderColor: "#E44B00",
                                    fill: false


                                }]
                            },
                            responsive: false,
                            maintainAspectRation: false,
                            options: {

                                legend: {
                                    display: false
                                },
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }],
                                    xAxes: [{
                                        ticks: {
                                            display: false
                                        }
                                    }]
                                }
                            }
                        })

                    </script>
                    <div class="HC_td_left avg_temp">Element status:
                        {% if automatic_status ==0 %}
                            AUTO
                        {% elif element_power_status==0 %}
                            OFF
                        {% elif element_power_status==1 %}
                            {% if element_heat_cool_status==0 %}
                                HEATING
                            {% elif element_heat_cool_status==1 %}
                                COOLING
                            {% endif %}

                        {% endif %}</div>
                </td>
                <td class="HC_td_align">
                    <form action="/buttons" method="post">
                        <div class="HC_td_title">Control:</div>
                        <table class="HC_table_switch">

                            <tr>
                                <td class="HC_td_switch">Automatic</td>
                                <td class="HC_td_switch">

                                    <label class="switch">
                                        <input type="checkbox" name="slider1" {% if automatic_status == 1 %}
                                               checked
                                        {% endif %}>
                                        <div class="slider round"></div>
                                    </label>

                                </td>
                                <td class="HC_td_switch">Manual</td>
                            </tr>


                            <tr>
                                <td>
                                    <div class="HC_td_title">Element:</div>
                                </td>
                            </tr>
                            <tr class="HC_tr_switch" {% if automatic_status == 0 %}
                                hidden
                            {% endif %}>
                                <td class="HC_td_switch">OFF</td>
                                <td class="HC_td_switch">
                                    <label class="switch">
                                        <input type="checkbox" name="slider2" class="slider round" {% if element_power_status == 1 %}
                                               checked
                                        {% endif %}>
                                        <div class="slider round"></div>
                                    </label>
                                </td>
                                <td class="HC_td_switch">ON</td>
                            </tr>
                            <tr class="HC_tr_switch" {% if automatic_status == 0 %}
                                hidden
                            {% endif %} >
                                <td class="HC_td_switch">HEAT</td>
                                <td class="HC_td_switch">
                                    <label class="switch">
                                        <input type="checkbox" name="slider3" {% if element_heat_cool_status == 1 %}
                                               checked
                                        {% endif %}>
                                        <div class="slider round"></div>
                                    </label>
                                </td>
                                <td class="HC_td_switch">COOL
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" value="Confirm" class="HC_input_submit">
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
{% block footer %}
    class='footer-distributed'
{% endblock %}